@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
  /* overflow-x: hidden; */
}

body {
  background-color: var(--white-color);
}

:root{
  --black-color : black;
  --white-color : white;
  --purple-color : rgb(44, 46, 173);
}

/* HOME PAGE STYLING */
/* SIGN UP BUTTON */
button {
  cursor: pointer;
}

/* DISCOVER SECTION STYLING */

/* Main container of the section */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vh;
  margin-top: 5vh;
  align-items: center;
}

/* indivisual card styling */
.cards{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 35vh;
  height: 25vh;
  border-radius: 5px;
  background-color: white;
  transition: all 0.5s;
}

.cards:hover {
  transform: translateY(-5px);
}

.cards:hover:before {
  opacity: 1;
}

.cards:hover .user_actions {
  opacity: 1;
  transform: translateY(0px);
}

.cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

/* Image on the card and overlay effect */
.display_class{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.overlay_image{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s;
}

.classes:hover .display_class {
  opacity: 0.4;
}

.cards:hover .overlay_image {
  opacity:0.6;
}

.user_actions{
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s;
  width: 100%;
}

#like_section{
  height: 17vh;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: right;
  right: 2vh;
  display: flex;
}

.like_button{
  height: 4vh;
  border: none;
  width: 2vw;
  border-radius: 5vh;
  z-index: 5;
  opacity: 1;
  background-color: transparent;

}
.like{
  transform: scale(1.5);
}

#save_section{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save_button{
  color: black;
  border: solid white 3px;
  /* background-color: white; */
  width: 50%;
  height: 5vh;
  border-radius: 6vh;
  /* opacity: 1; */
  font-weight: bolder;
  font-size: 1rem;
}


/* Popular Creator Section Styling */
.creator-box{
  border-radius: 5%;
  background-color: pink;
  width: 10%;
}
.man{
  width: 16%;
  border-radius: 100%;
}
.box{
  display: flex;
}


/* SIGN UP PAGE STYLING */
.main{
  height: 70%;
  width: 60%;
  background-color: yellow;
}



/* Floating div -ABOUT US DIVISON STYLING */



/* Importing fonts for the website  */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

#floating_div{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 5vh; */
  background: linear-gradient(90deg, rgba(85,0,255,1) 0%, rgba(158,0,255,1) 100%);
}

#floating_div h1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 6em;
  /* text-shadow: 2px 2px 2px black; */
  font-family: 'Cabin Sketch', cursive;
  color: white;
  font-weight: bolder;
}

#floating_div h1 span{
  display: flex;
  font-size: 20px;
  font-weight: 300;
  width: 60vh;
  margin-left: 50px;
  font-family: 'Courier New', Courier, monospace;
  /* letter-spacing: 2px; */
}

#float{
  width: 100%;
  background-color: var(--purple-color);
  font-family: 'Special Elite', cursive;
  font-size: 7rem;
  font-weight: lighter;
}

.bg-img {
  position: absolute;
  top: 0;
  z-index: -1;
  filter: brightness(0.4);
  width: 100%;
}

#icon_div{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 20px;
}

.logos{
  height: 40px;
  display: flex;
  flex-direction: row;
}

.chat_button{
  background-color: black;
  display: flex;
  margin-top: 5vh;
  align-items: center;
  justify-content: space-evenly;
  /* border-top: 45px; */
}

#design_list{
  background-image: url(./Images/background.jpg);
  background-repeat: repeat-y;
}

.list_header{
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#design_list h1 {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  font-size: 5em;
  /* text-shadow: 2px 2px 2px black; */
  font-family: 'Cabin Sketch', cursive;
  font-weight: bolder;
}

/* Display content divison styling */
#image_content{
  width: 100%;
  height:80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#filter_section{
  width: 100%;
  height: 100%;
}

#filter_section form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#filter_section form input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: black;
}

#content_section{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#search_section{
  width: 100%;
  height: 10vh;
  /* background-color: black; */
  background: linear-gradient(270deg, rgba(85,0,255,1) 0%, rgba(158,0,255,1) 100%);

}


/*FORM STYLING */
.user_page{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, rgba(85,0,255,1) 0%, rgba(158,0,255,1) 100%);
}
.pop{
  background-color: white;
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: row;

}
.form_img{
  height: 100vh;
}

.potrayal{
  width: 60%;
  height: 60vh;
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #030128;
}

#section_top{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: top;
  justify-content: center;
}


#back_arrow {
  height: fit-content;
  position: relative;
  margin-top: 15px;
}

#back_arrow svg {
  background: linear-gradient(270deg, rgba(85,0,255,1) 0%, rgba(158,0,255,1) 100%);
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s;
}

#back_arrow:hover svg{
  background: linear-gradient(0deg, rgba(85,0,255,1) 0%, rgba(158,0,255,1) 100%);
  scale: 1.2;
}

#logo_section{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_logo{
  height: 80%;
}

#section_below{
  width: 100%;
  height: 75%;
  display: flex;
  align-items: flex-end;
  justify-content: center;


}
.potray_image{
  width: 100%;
  /* height: 100%; */
  /* width:auto; */
}

/* Form section styling */
.form_section{
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 40%;
}

#register{
    color: rgb(70, 71, 74);
    width: auto;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    font-size: 2em

}

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mainLoginInput{
  height: 30px;
  width: 20vw;
  padding: 5px;
  font-size: 1em;
  /* margin: 5px 0; */
  color: black;
  /* gap: 15px; */
  margin-top: 15px;
  /* margin-bottom: 10px; */
}

.mainLoginInput::placeholder { 
font-family: FontAwesome;
width: 15%;
font-weight: lighter;
overflow: visible;
vertical-align: top;
display: inline-block !important;
font-size: 1em;

color: var(--black-color);
}

.name_input{
  height: 50px;
}


#user_act{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register_button{
    width: 20vw;
    margin-top: 20px;
}

.error {
  margin-top: 10px;
  font-size: 0.9em;
  border-radius: 1vh;
  padding: 4px;
  color: red;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
}