/* Universal Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main divison for classiciation section */
#classification_section{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* All classes */
.classes{
  display: flex;
  /* flex-direction: row; */
  position: relative;
  justify-content: center;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

.classes p {
  display: none;
  position: absolute;
  font-size: 1.2em;
}

.classes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  width: 90%;
  height: 100%;
  border-radius: 25vh;
  background: linear-gradient(90deg, rgba(85,0,255,1) 0%, rgba(158,0,255,1) 100%);
  transform: scaleX(0);
  opacity: 0;
  transition: .5s;
}

.classes:hover .display_class_image{
  opacity: 0.2;
}

.classes:hover p{
  display: block;
}

.classes:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

.display_class_image{
  width: 90%;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

