/* Universal Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');


/* Main Parent navbar Tag */
#navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Backdrop divison */
#back-image{
    position: absolute;
    /* height: 33.5vh; */
    width: 16.8vw;
    z-index: 0;
}

/* logo divison styling */
#logo{
    height: 100%;
    width: 15vw;
    z-index: 1;
    /* margin-left: 20vw; */

}
.logo{
    height: 15vh;
}

/* quick link divison styling */
#quick_links{
    display: flex;
    flex-direction: row;
    width: 45vw;
    align-items: center;
    z-index: 1;
}

#navbar_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
a {
    color: white;
    font-size:  1.2rem;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    display: block;
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--purple-color);
    border-bottom: 2px solid var(--purple-color);
    transform: scaleY(2);
    opacity: 0;
    transition: .3s;
}

a::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-color);
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    z-index: -1;
}

a:hover {
    color: white;
}

a:hover::before {
    transform: scaleY(1);
    opacity: 1;
}

a:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

/* upload button styling */
.upload_button{
    width: 15vw;
    font-size: 1em;
    font-weight: bolder;
}

/* Search Button Divison Styling */
#search_section{
    width: 42vw;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    z-index: 1;
}

#search_box{
    width: 35vw;
    background-color: grey;
    height: 5vh;
    opacity: 0.6;
    /* border-radius :15vh; */
    border: solid white 3px;
}

::placeholder {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);

}



/* Sign Up/ Login Divison Styling */
#user_action{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    gap: 0.4rem;
    background-color: transparent;
}

#signup_button{
    background-color: var(--purple-color);
    /* background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,151,1) 5%, rgba(252,70,107,1) 100%); */
    padding: 2vh;
    border-radius: 10vh;
    color: white;
    font-size: 1.1rem;
    border-style: none;
    /* background: transparent; */
}


#login{
    text-decoration: underline solid var(--purple-color) 2px;
    background-color: transparent;
}

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";